.section {
  min-height: 110vh;
  height: auto;
  overflow-y: auto;
}

.section-container {
  display: flex;
  width: 100%;
  transition: margin-left 0.5s ease-in-out, width 0.5s ease-in-out;
}

.with-sidebar.section-container {
  margin-left: 300px;
  width: calc(100% - 300px);
}

.textCenter {
  text-align: center;
}

.text4xl {
  font-size: 2.25rem;
}

.textYellow500 {
  color: #ecc94b;
}

.mb24 {
  margin-bottom: 6rem;
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fadeIn.show {
  opacity: 1;
  transform: translateY(0);
}
