.projectCard {
  width: 100%;
  max-width: 700px; /* 카드 크기를 더 크게 조정 */
  position: relative;
  perspective: 1000px;
  height: 500px; /* 카드 높이를 더 크게 조정 */
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardFront img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 카드 영역을 꽉 채우도록 설정 */
}

.cardBack {
  background-color: #ccc;
  transform: rotateY(180deg);
}

.flipped .cardInner {
  transform: rotateY(180deg);
}

/* 유동적인 카드 크기 및 이미지 크기 설정 */
@media (max-width: 768px) {
  .projectCard {
    max-width: 90%; /* 모바일 환경에서 카드 크기를 90%로 설정 */
    height: 400px; /* 모바일에서 카드 높이 줄이기 */
  }
}
