.toggle-checkbox {
  right: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.toggle-checkbox:checked {
  transform: translateX(-100%);
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #34495e;
}
